streamlit>=1.12.0
unstructured[all-docs]>=0.4.0
transformers>=4.0.0
datasets>=2.0.0
pandas>=1.3.0
bitsandbytes==0.42.0
torch>=1.10.0
lxml>=4.6.0
Pillow>=8.0.0
PyMuPDF>=1.18.0
ipython
accelerate>=0.26.0